<!-- <app-task-list (editTaskRequested)="onEditClicked($event)"></app-task-list> -->
<div class="edit-task-container">
    <h2>Edit Task</h2>
  
    <div class="form-group">
      <label>Title</label>
      <input type="text" [(ngModel)]="task.title" name="title" />
    </div>
  
    <div class="form-group">
      <label>Description</label>
      <textarea [(ngModel)]="task.description" name="description"></textarea>
    </div>
  
    <div class="form-group">
      <label>Deadline</label>
      <input type="date" [(ngModel)]="task.deadline" name="deadline" />
    </div>
  
    <div class="form-group">
      <label>Priority</label>
      <select [(ngModel)]="task.priority" name="priority" >
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
    </div>
  
    <div class="form-group">
      <label>Completed</label>
      <input type="checkbox" [(ngModel)]="task.completed" name="completed" />
    </div>
  
    <button (click)="onSubmit()">Update Task</button>
  </div>
  